In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("adjudicated.txt", sep='\t', lineterminator='\r', header=None).iloc[:, [1, 2, 3]]

In [15]:
shuffled_df = df.sample(500)
shuffled_df

               1    2                                                  3
469  adjudicated  pos  Mix onion, garlic, ginger, gochujang, soy sauc...
333  adjudicated  neg  Preheat oven to 400° F. Place the first 6 ingr...
302  adjudicated  pos  Soak noodles in a medium bowl of boiling-hot w...
388  adjudicated  pos  Combine giblets (reserve liver), neck, 1 chopp...
72   adjudicated  pos  Whisk oil, orange juice, vinegar, salt, and 1/...
..           ...  ...                                                ...
458  adjudicated  pos  Prepare the peanut butter ice cream and let ha...
276  adjudicated  pos  To make the salsa verde: Put the tomatillos, c...
237  adjudicated  pos  Cut the chicken into serving pieces. Trim the ...
178  adjudicated  pos  Place 1 zucchini on work surface. Using vegeta...
374  adjudicated  pos  1. Pit the cherries, cut them in half, and put...

[500 rows x 3 columns]

In [32]:
train = shuffled_df.iloc[:300, :]
valid = shuffled_df.iloc[300:400, :]
test = shuffled_df.iloc[400:500, :]

In [33]:
train.to_csv("train.txt", sep='\t', header=False)

In [34]:
valid.to_csv("dev.txt", sep='\t', header=False)

In [35]:
test.to_csv("test.txt", sep='\t', header=False)

In [31]:
df[2].value_counts()[0] / 500

0.744